body{
  background-image: linear-gradient(to left,#5AB1C7, #1A7566,#1BDE96 );
}
@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
  }

h1{
  font-family: 'SEGA LOGO FONT';
  font-weight: 200;
  color:#29D6C2;
}

